Source: plasmate
Section: kde
Priority: extra
Maintainer: David Suárez <david.sephirot@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               kdelibs5-dev,
               kdepimlibs5-dev,
               libattica-dev,
               libboost1.54-dev,
               libgpgme11-dev,
               libqtwebkit-dev,
               pkg-kde-tools
Standards-Version: 3.9.5
Homepage: http://projects.kde.org/plasmate
Vcs-Git: git://github.com/deiv/plasmate-pkg.git
Vcs-Browser: https://github.com/deiv/plasmate-pkg

Package: plasmate
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: git
Description: IDE tailored for development of Plasma components
 A complete solution for developing Plasma components, such as
 “widgets”, themes, dataengines, ions and krunners.
 .
 It is not a general purpose IDE but rather a tool specifically
 tailored to creating Plasma Workspace add-ons using
 non-compiled languages such as QML and Javascript.
